<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>patg07D6j4Zn5stp3.6b7948d321c011cf8b2a9cb06cadc83f1fea97e2fef87af40622508cbb357ace</string>
</dict>
</plist>
